.Body {    
    flex: 1;
    /*background: rgba(1,1,1,0.15);*/
    background: black;
}

.divTop {
    padding-top: 40px;
}

.divSlider {
    margin: 0 auto;
    padding: 0 50px 0 50px;
    color: #333;
}

.slick-dots {
    bottom: -60px;
}
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: white !important;
}
.slick-initialized .slick-slide {
    margin: 0 10px 0 10px;
}

img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

hr {
    border-top: 1px solid rgba(255,255,255,1);
    margin: 12px 80px 12px 80px;
}

.divSliderImage {
}

.divSliderItemInfo {
    height: 240px;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 0 0 25px 0;
    color: white;
}

.divDownloadButton {
    padding-top: 20px;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

/*@media (max-width: 1980px) {
    .divSliderItemInfo {
        display: none;
    }
    .divSliderImage {
        width: 100%;
    }
    hr {
        display: none;
    }
    .divTop {
        padding-top: 10px;
    }
    iframe {
        width: auto;
        height: auto;
        min-width: 600px;
        min-height: 450px;
    }
}*/